{% extends 'home_base.html' %}
{% load static %}

{% block 'title' %}Patient Data{% endblock %}

{% block 'content' %}

<!-- Django messages here! -->
{% if messages %}
{% for message in messages %}
    <div class="alert {{message.tags}}">
        {{message}}
    </div>
{% endfor %}
{% endif %}

<div class="row">

<div class="col-md-3">
    <img src="{% static 'img/perfil2.png' %}">
</div>

<div class="col-md-3 dados descricao">
    <h4>{{patient.name}}</h4>
    <h6>{{patient.age}}</h6>
</div>

</div>
<hr>


<button class="buttons mb-4" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
Add New Patient Data
</button>

<!-- Patient Modal -->

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="staticBackdropLabel">Patient Data</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="modal-body">
                <form action="{% url 'register_patient_data' patient.id %}" method="POST">{% csrf_token %}
                    <div class="form-row">
                        <div class='col-md'>
                        
                                <label for="validationServerUsername">Weight</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="--" name="weight">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend3">Kg</span>
                                    </div>
                                </div>
                                                        
                        </div>

                        <div class='col-md'>
                                <label for="validationServerUsername">Height</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="--" name="height">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend3">cm</span>
                                    </div>
                                </div>
                                                        
                        </div>

                        
                    </div>
                    
                    <div class="form-row">
                        <div class='col-md'>
                        
                                <label for="validationServerUsername">Fat Percentual</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="--" name="fatPercentual">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend3">%</span>
                                    </div>
                                </div>
                                                        
                        </div>

                        <div class='col-md'>
                        
                                <label for="validationServerUsername">Muscle Percentual</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="--" name="musclePercentual">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend3">%</span>
                                    </div>
                                </div>
                                                        
                        </div>

                        
                    </div>
                    <br>
                    <h4 class="titulo">Lab Data</h4>
                    <div class="form-row">
                        <div class='col-md'>
                        
                                <label for="validationServerUsername">Colesterol HDL</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="--" name="hdl">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend3">mg/dL</span>
                                    </div>
                                </div>
                                                        
                        </div>

                        <div class='col-md'>
                        
                                <label for="validationServerUsername">Colesterol LDL</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="--" name="ldl">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend3">mg/dL</span>
                                    </div>
                                </div>
                                                        
                        </div>

                        
                    </div>
                    <br>
                    <div class="form-row">
                        <div class='col-md'>
                        
                                <label for="validationServerUsername">Total Colesterol</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="--" name="ctotal">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend3">mg/dL</span>
                                    </div>
                                </div>
                                                        
                        </div>

                        <div class='col-md'>
                        
                                <label for="validationServerUsername">Tryglycerides</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="--" name="triglycerides">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend3">mg/dL</span>
                                    </div>
                                </div>
                                                        
                        </div>

                        
                    </div>

                    <br>

                    <input type="submit" value="Cadastrar" class="btn btn-success">

                </form>
            </div>
        
        </div>
    </div>
</div>
<!-- End of modal -->

    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Weight</th>
            <th scope="col">Height</th>
            <th scope="col">% fat</th>
            <th scope="col">% muscle</th>
            </tr>
        </thead>
        <tbody>
            {% if patient_data is not None %}
                {% for data in patient_data %}
                    <tr>
                        <td>{{data.weight}}</td>
                        <td>{{data.height}}</td>    
                        <td>{{data.fat_percentual}}</td>
                        <td>{{data.muscle_percentual}}</td>
                    </tr>
                {% endfor %}

            {% else %}
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
            {% endif %}

        </tbody>
    </table>
    
    <div style="width: 60%;">
        <canvas id="myChart"></canvas>
    </div>  
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
    
        fetch("/weight_graphic/{{patient.id}}",{
            method: 'POST',
        }).then(function(result){
            return result.json()
        }).then(function(patient_data){
           
            const data = {
                labels: patient_data['labels'],
                datasets: [{
                label: 'Weight Patient',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: patient_data['weight'],
                }]
            };
    
            const config = {
                type: 'line',
                data: data,
                options: {}
            };
    
            const myChart = new Chart(
                document.getElementById('myChart'),
                config
            );
        })    
    </script>
        
{% endblock%}