{% extends "UsersBase.html" %}
{% load static %}

{% block 'title' %}Register{% endblock %}

{% block 'content' %}
    <div class="container information-area w-75">
        <!-- Django messages here -->
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <h1>Welcome!</h1>
        <h2 id="subtitle">Enter in your account</h2>
        <hr>
        <form id="register-form" class="row g-2" action="{% url 'register' %}" method="post"> {% csrf_token %}
            <div class="col-md-12">
                <label for="username" class="form-label users-label">Username</label>
                <input class="form-control users-form" type="text" name="username" id="username">
            </div>
            <div class="col-md-12">
                <label for="email" class="form-label users-label">E-mail</label>
                <input class="form-control users-form" type="email" name="email" id="email">
            </div>
            <div class="col-md-6">
                <label for="password" class="form-label users-label">Password</label>
                <input class="form-control users-form" type="password" name="password" id="password">
            </div>
            <div class="col-md-6 my-2">
                <label for="confirm-password" class="form-label users-label">Confirm password</label>
                <input class="form-control users-form" type="password" name="confirm-password" id="confirm-password">
            </div>
            <div class="col-12">
                <button class="submit-button btn w-25" type="submit">Register</button>
            </div>
        </form>
            <h2 id="footer-text" class="my-5">Already have an account ? &nbsp <a id="footer-link" class="btn" href="{% url 'login' %}">Log in</a></h2>
        </div>
    </div>
{% endblock %}

{% block 'script' %}
<script src="{% static 'js/Users/register.js' %}"></script>
{% endblock %}