{% extends "base.html" %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/Users/usersBase.css' %}">
{% endblock %}

{% block 'base' %}
<main class="container-fluid">
    <div class="row">
        <div class="col-md-4 sidebar">
            <img id="logo-nutri-connect" class="h-100" src="{% static 'img/fundo_background_nutri_connect.png' %}" alt="fundo-nutri-connect">
        </div>
        <div class="col-md-8">
            {% block 'content' %}{% endblock %}
        </div>
    </div>
</main>
{% endblock %}